
@font-face {
    font-family: "AndelliaDavilton";
    src:
        url('/fonts/AndelliaDavilton.woff') format('woff')
}

@font-face {
    font-family: "Audrey-Normal";
    src:
        url('/fonts/Audrey-Normal.woff') format('woff')
}

@font-face {
    font-family: "ProximaNovaBold.woff";
    src:
        url('/fonts/ProximaNovaBold.woff') format('woff'),
}

@font-face {
    font-family: "ProximaNova-Regular";
    src:
        url('/fonts/ProximaNova-Regular.woff') format('woff')
}