/*
0 - 650px       :   Phone
650 - 992px     :   Tablet Potrait
650 - 1200px    :   Tablet Landscape
[1200 - 1800px] :   Desktop
1800px +        :   Big Desktop
*/
/* 
$breakpoint argument choices:
- phone
- tab-port
- tab-lans
- big-desktop

ORDER:  Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.text-green {
  color: #819691;
}

.bg-color_lightGrey {
  background-color: #F4F4F5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* default 16px */
  /* font-size: 10px; */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}
@media only screen and (max-width: 62em) {
  body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
input:focus,
textarea:focus,
button:focus,
select:focus,
a:focus {
  color: white;
}

button:focus {
  outline: 0;
}

hr {
  background-color: #819691;
}

@media only screen and (max-width: 62em) {
  main:not([page=home]) {
    margin-top: unset;
  }
}

p {
  font-size: 1.4rem;
  color: #808080;
}
@media only screen and (max-width: 62em) {
  p {
    font-size: 1.2rem;
  }
}

.forDesktop {
  display: block !important;
}
@media only screen and (max-width: 62em) {
  .forDesktop {
    display: none !important;
  }
}

.forDesktop-dflex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@media only screen and (max-width: 62em) {
  .forDesktop-dflex {
    display: none !important;
  }
}

.forMobile {
  display: none !important;
}
@media only screen and (max-width: 62em) {
  .forMobile {
    display: block !important;
  }
}

.forMobile-dflex {
  display: none !important;
}
@media only screen and (max-width: 62em) {
  .forMobile-dflex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* hamburger menu */
#menu-hamburger {
  width: 30px;
  height: 37px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 20;
}

#menu-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.bg_white {
  background-color: white;
}

#menu-hamburger span:nth-child(1) {
  top: 10px;
}

#menu-hamburger span:nth-child(2) {
  width: 80%;
}

#menu-hamburger span:nth-child(4) {
  width: 50%;
}

#menu-hamburger span:nth-child(2), #menu-hamburger span:nth-child(3) {
  top: 18px;
}

#menu-hamburger span:nth-child(3) {
  display: none;
}

#menu-hamburger span:nth-child(4) {
  top: 26px;
}

#menu-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}

#menu-hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  display: block;
}

#menu-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  display: none;
}

.learn__button, .learn__button-dark {
  width: 200px;
}
@media only screen and (max-width: 62em) {
  .learn__button, .learn__button-dark {
    width: unset;
  }
}
.learn__button a, .learn__button-dark a {
  text-transform: uppercase;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 800;
}
.learn__button a:hover, .learn__button-dark a:hover {
  color: black;
}

.learn__button {
  background-color: white;
}
.learn__button a {
  color: black;
}

.learn__button-dark {
  background-color: #819691;
}
.learn__button-dark a {
  color: white;
}

.h_aks1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 30px;
  background-color: black;
}

@font-face {
  font-family: "AndelliaDavilton";
  src: url("/fonts/AndelliaDavilton.woff") format("woff");
}
@font-face {
  font-family: "Audrey-Normal";
  src: url("/fonts/Audrey-Normal.woff") format("woff");
}
@font-face {
  font-family: "ProximaNovaBold.woff";
  src: url("/fonts/ProximaNovaBold.woff") format("woff");
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/fonts/ProximaNova-Regular.woff") format("woff");
}
header .slider__header {
  position: relative;
  width: 93%;
  margin-top: 110px;
}
@media only screen and (max-width: 62em) {
  header .slider__header {
    width: 100%;
    padding-left: 4.75rem;
    padding-right: 0;
  }
}
header .menu__home-link {
  position: relative;
}
header .menu__home-link .dropdown_link .sub__menu {
  display: none;
  position: absolute;
  padding: 2rem 0px;
  top: 100%;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header .menu__home-link .dropdown_link .sub__menu li {
  display: inline-block;
  margin-right: 25px;
  margin-left: 0;
  padding-right: 0;
}
header .menu__home-link .dropdown_link .sub__menu li:hover {
  border-bottom: 1px solid black;
}
header .menu__home-link .dropdown_link .sub__menu li a {
  font-size: 9px;
}
header .menu__home-link .dropdown_link:hover .sub__menu {
  display: block;
}

.menu__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  min-height: 110px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  align-items: center;
  transition: 0.3s all;
  z-index: 20;
}
@media only screen and (max-width: 62em) {
  .menu__home {
    justify-content: space-evenly;
  }
}
.menu__home-logo {
  min-width: 300px;
}
.menu__home-logo img {
  padding-left: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 62em) {
  .menu__home-logo img {
    padding-left: 0rem;
    padding-left: 0;
  }
}
.menu__home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.menu__home-link ul {
  margin: 0;
}
.menu__home-link ul li {
  display: inline-block;
  list-style: none;
}
.menu__home-link ul li:not(:last-child) {
  padding-right: 4rem;
}
.menu__home-link ul li:last-child {
  padding-right: 7rem;
}
.menu__home-link ul li a {
  color: black;
  font-weight: 800;
  text-decoration: none;
}
.menu__home-navbar {
  min-width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.menu__home-navbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__mobileOverlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.48);
  transition: 0.1s all;
  visibility: hidden;
  opacity: 0;
}

.menu__mobileOverlay.open {
  visibility: visible;
  opacity: 1;
}

.menu__mobile {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 20;
  transition: 0.5s all;
  overflow: auto;
}
.menu__mobile-search {
  background-color: black;
  padding: 3rem 4rem;
}
.menu__mobile-search form input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 40px;
  width: 100%;
}
.menu__mobile-search form input::-moz-placeholder {
  color: white;
}
.menu__mobile-search form input:-ms-input-placeholder {
  color: white;
}
.menu__mobile-search form input::placeholder {
  color: white;
}
.menu__mobile-link {
  padding: 3rem 4rem;
}
.menu__mobile-link ul {
  padding-left: 0;
}
.menu__mobile-link ul li {
  list-style: none;
  padding: 2rem 0;
}
.menu__mobile-link ul li:not(:nth-child(9), :nth-child(10)) {
  border-bottom: 1px solid #0000002b;
}
.menu__mobile-link ul li:last-child {
  margin-top: 8rem;
}
.menu__mobile-link ul li a {
  color: black;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
}

.menu__mobile.open {
  left: 0;
}

.contact__wrapper {
  padding: 15rem 0;
  position: relative;
}
@media only screen and (max-width: 62em) {
  .contact__wrapper {
    padding: 3rem 4rem;
  }
}
.contact__wrapper .bg-contact {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: -1;
}
@media only screen and (max-width: 62em) {
  .contact__wrapper .bg-contact {
    width: 100%;
  }
}
.contact__wrapper h3 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.contact__wrapper .contact__wrapper-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__wrapper .contact__wrapper-r-info {
  position: relative;
  width: 50%;
  padding: 0 70px;
}
.contact__wrapper .contact__wrapper-r-info .loc_img {
  position: absolute;
  top: 0;
  left: 30px;
}
@media only screen and (max-width: 62em) {
  .contact__wrapper .contact__wrapper-r-info {
    padding: 0;
    width: 100%;
  }
}
.contact__wrapper .contact__wrapper-r-info li {
  list-style: none;
}
.contact__wrapper .contact__wrapper-r-info li p {
  font-size: 1.4rem;
}
.contact__wrapper .contact__wrapper-r-form {
  width: 50%;
}
@media only screen and (max-width: 62em) {
  .contact__wrapper .contact__wrapper-r-form {
    width: 100%;
  }
}
.contact__wrapper .contact__wrapper-r-form input {
  border-radius: 10px;
  height: 30px;
  margin-bottom: 5px;
  color: black;
  font-weight: 800;
  padding-left: 2rem;
  border: none;
}
.contact__wrapper .contact__wrapper-r-form input::-moz-placeholder {
  color: black;
  font-weight: 800;
}
.contact__wrapper .contact__wrapper-r-form input:-ms-input-placeholder {
  color: black;
  font-weight: 800;
}
.contact__wrapper .contact__wrapper-r-form input::placeholder {
  color: black;
  font-weight: 800;
}
.contact__wrapper .contact__wrapper-r-form select {
  border-radius: 10px;
  height: 30px;
  margin-bottom: 5px;
  color: black;
  font-weight: 800;
  padding-left: 2rem;
  border: none;
}
.contact__wrapper .contact__wrapper-r-form select::-moz-placeholder {
  color: black;
  font-weight: 800;
}
.contact__wrapper .contact__wrapper-r-form select:-ms-input-placeholder {
  color: black;
  font-weight: 800;
}
.contact__wrapper .contact__wrapper-r-form select::placeholder {
  color: black;
  font-weight: 800;
}
.contact__wrapper .contact__wrapper-r-form button {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #819691;
  box-shadow: none;
  border: none;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.contact__wrapper .contact__wrapper-r-form button:hover {
  background-color: #819691;
}

header menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: white;
}
header menu ul {
  padding: 2rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
@media only screen and (max-width: 62em) {
  header menu ul {
    padding: 2rem;
  }
}
header menu ul li {
  list-style: none;
}
header menu ul li .logo {
  width: 50px;
}

header .header__bannerHome {
  height: 80vh;
  position: relative;
  margin-top: 119px;
}
@media only screen and (max-width: 62em) {
  header .header__bannerHome {
    height: 100vh;
  }
}
header .header__bannerHome img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
header .header__bannerHome-boxProduct {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  padding: 2rem;
}
header .header__bannerHome-boxProduct img {
  width: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header__bannerHome-disc {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}
header .header__bannerHome-disc a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "ProximaNova-Regular";
}

main[page=home] {
  margin-top: 25rem;
}
main[page=home] .section__firstHome-left {
  height: 450px;
  position: relative;
}
main[page=home] .section__firstHome-left--back {
  background-color: #292C34;
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
main[page=home] .section__firstHome-left--front {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
main[page=home] .section__firstHome-right {
  padding-left: 2rem;
}
main[page=home] .section__firstHome-right .title {
  text-align: end;
  margin-bottom: 2rem;
}
main[page=home] .section__firstHome-right .title h2 {
  font-family: "Audrey-Normal";
  font-size: 3.5rem;
  line-height: 25px;
  padding-right: 2.5rem;
}
main[page=home] .section__firstHome-right .title h2:nth-child(3) {
  padding-right: 0rem;
}
main[page=home] .section__firstHome-right p {
  font-family: "ProximaNova-Regular";
}
main[page=home] .section__secondHome {
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}
main[page=home] .section__secondHome-left {
  width: 50%;
  position: relative;
}
main[page=home] .section__secondHome-left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
  position: relative;
}
main[page=home] .section__secondHome-left .bg-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  background-color: #292C34;
  padding: 2rem;
  justify-content: space-around;
  position: absolute;
  width: 104%;
  height: 100px;
  min-height: 100px;
  bottom: -74px;
  z-index: 2;
  padding-top: 4rem;
}
main[page=home] .section__secondHome-left .bg-icon img {
  width: 40px;
}
main[page=home] .section__secondHome-right {
  width: 50%;
  padding: 3rem;
  position: relative;
}
main[page=home] .section__secondHome-right .title {
  text-align: start;
  margin-bottom: 2rem;
}
main[page=home] .section__secondHome-right .title h2 {
  font-family: "Audrey-Normal";
  font-size: 3.5rem;
  line-height: 25px;
  padding-right: 2.5rem;
}
main[page=home] .section__secondHome-right .title h2:nth-child(3) {
  padding-right: 0rem;
}
main[page=home] .section__secondHome-right p {
  font-family: "ProximaNova-Regular";
}
main[page=home] .section__secondHome-right .overview {
  font-family: "Audrey-Normal";
  font-size: 10rem;
  position: absolute;
  bottom: -79px;
  left: -1px;
  color: #E6E6E6;
  z-index: 4;
  line-height: 1em;
}
main[page=home] .section__thirdHome {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}
main[page=home] .section__thirdHome .box__pilih {
  width: 30%;
}
main[page=home] .section__thirdHome .box__pilih .mainul {
  margin: 0;
  padding: 0;
}
main[page=home] .section__thirdHome .box__pilih .mainul .mainul_list {
  list-style: none;
  border-bottom: 1px solid white;
  cursor: pointer;
  background-color: #292C34;
}
main[page=home] .section__thirdHome .box__pilih .mainul .mainul_list-title {
  padding: 2rem;
}
main[page=home] .section__thirdHome .box__pilih .mainul .mainul_list-title h4 {
  color: white;
  font-family: "Audrey-Normal";
  font-size: 2rem;
}
main[page=home] .section__thirdHome .box__pilih .mainul .mainul_list .mainulv1 {
  padding: 0;
  display: none;
}
main[page=home] .section__thirdHome .box__pilih .mainul .mainul_list .mainulv1_list {
  padding: 2rem;
  background-color: #E6E6E6;
}
main[page=home] .section__thirdHome .box__pilih .mainul .mainul_list .mainulv1_list h4 {
  color: #292A32;
  font-family: "Audrey-Normal";
  font-size: 2rem;
}
