header{
    menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
        background-color: white;
        ul{
            padding: 2rem 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            @include respond(down-tab-port){
                padding: 2rem;
            }
            li{
                list-style: none;
                .logo{
                    width: 50px;
                }
            }
        }
    }
}